<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.ubet.authenticator.AuthenticatationService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>

        <activity
            android:name="com.ubet.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubet.authenticator.AuthenticatorActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.ubet.activity.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubet.activity.StartActivity" />
        </activity>
        <activity
            android:name="com.ubet.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.ubet.activity.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubet.activity.StartActivity" />
        </activity>
        <activity
            android:name="com.ubet.activity.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.ubet.activity.RoomsActivity"
            android:label="@string/title_activity_rooms" >
        </activity>
        <activity
            android:name="com.ubet.activity.RoomActivity"
            android:label="@string/title_activity_room"
            android:parentActivityName="com.ubet.activity.RoomsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubet.activity.RoomsActivity" />
        </activity>
        <activity
            android:name="com.ubet.activity.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:parentActivityName="com.ubet.activity.RoomsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubet.activity.RoomsActivity" />
        </activity>
        <activity
            android:name="com.ubet.activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.ubet.activity.RoomsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubet.activity.RoomsActivity" />
        </activity>
        <activity
            android:name="com.ubet.activity.CreateRoomActivity"
            android:label="@string/title_activity_create_room" >
        </activity>
        <activity
            android:name="com.ubet.activity.RoomInside"
            android:label="@string/title_activity_room_inside" >
        </activity>
        <activity
            android:name="com.ubet.activity.EnterToRoom"
            android:label="@string/title_activity_enter_to_room"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>
